body{
    color:#2E2F42 ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.header {

}

.navigation {
 
    }

.logo-first {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        color: #4D5AE5;
}

.logo-second {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2E2F42;
        
}

.navigation-list, {
    
}

.navigatin-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.contacts{
       
}
.navigation-contacts{
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;   
}


/* фокус для таба на интерактинвные элементы)*/




.navigation-contacts:hover {
    color: #9ee54d;
}
.navigation-contacts:focus {
  color: #9ee54d;  
}

.navigation-contacts:active {
   
}
/* Main */

/* Section hero*/
.hero {}

.hero-main{
    
}

.hero-text {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-buttom {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

/* Section tefnology*/


{}
.tehnology {}

.tehhology-maintext {}

.tehnology-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
         letter-spacing: 0.02em;
    color: #2E2F42;
}

.tehnology-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.tehnology-list {}

.tehnology-item {

}

.tehnology-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.tehnology-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* section work*/

.work {}

.work-maintext {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.work-list {}

.work-item {}

.work-link {}

/*section our team - about*/

.about {
    
}

.about-maintext {
font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.about-list {}

.about-item {}

.about-text {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}


/* Footer */

.footer {

}

.logo-footer-first {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.logo-footer-second {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;

}

.footer-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;    
        letter-spacing: 0.02em;
        color: #E7E9FC;
}


/*--Page portoflio--*/
/*  Section portfolio navigation*/

.portfolio-hero {}

.portfolio-navigation {}

.portfolio-navigation-list {}

.portfolio-navigation-item {}

.portfolio-buttom {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
}

.portfolio-buttom:hover {
    color: #9ee54d;
}
.portfolio-buttom:focus {
    color: #4D5AE5;
}

/* Section portfolio aalication*/

.application {}

.app-list {}

.app-item {}

.app-link {}

.app-maintext {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.app-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}