body{
    color:#2E2F42 ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.header {

}
/*скинути крапки у списках ліст*/
.list {
    list-style: none;
}
/*скинути підкреслення на ссілках*.*/
.link {
    text-decoration: none;
}

.
.navigation {
 
    }

.logo-first {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        color: #4D5AE5;
}

.logo-second {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2E2F42;
        
}

.navigation-list {
    
}

.navigation-item {

}
.navigation-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.navigation-link:hover {
    color: #404BBF;
}
.contacts{
       
}

.navigation-contacts{
    
}
 .contact-adress {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;   
}

.contact-adress:hover {
    color: #404BBF;
}
/* фокус для таба на интерактинвные элементы)*/

/* Main */

/* Section hero*/
.hero {}

.hero-main{
    
}

.hero-text {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-buttom {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
}

.hero-buttom:hover,
.hero-buttom:focus {
    color: #FFFFFF;
}

/* Section tefnology*/


{}
.tehnology {}

.tehhology-maintext {}

.tehnology-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
         letter-spacing: 0.02em;
    color: #2E2F42;
}

.tehnology-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.tehnology-list {}

.tehnology-item {

}

.tehnology-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.tehnology-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* section work*/

.work {}

.work-maintext {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.work-list {}

.work-item {}

.work-link {}

/*section our team - about*/

.about {
    
}

.about-maintext {
font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.about-list {}

.about-item {}

.about-text {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}


/* Footer */

.footer {

}

.logo-footer-first {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.logo-footer-second {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;

}

.footer-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;    
        letter-spacing: 0.02em;
        color: #E7E9FC;
}


/*--Page portoflio--*/
/*  Section portfolio navigation*/

.portfolio-hero {}

.portfolio-navigation {}

.portfolio-navigation-list {}

.portfolio-navigation-item {}

.portfolio-buttom {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
}

.portfolio-buttom:hover,
.portfolio-buttom:focus
 {
   color: #4D5AE5; 
}
.portfolio-buttom:active {
    color: #434455;
}


/* Section portfolio aalication*/

.application {}

.app-list {}

.app-item {}

.app-link {}

.app-maintext {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.app-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}